{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Not found</h1>
       <p>Oops! This page doesn't exist. Try going back to our <a href="{{ site.Home.RelPermalink }}">home page</a>.</p>

       {{ with site.GetPage "/docs" }}
       <p>The <a href="{{ .RelPermalink }}">documentation</a> covers deploying Kubeflow on AKS. If a link here is broken, please <a href="{{ site.Params.github_repo }}/issues/new">open an issue</a>.</p>
       {{ end }}
      </div>
    </main>
{{ end }}
